<!DOCTYPE html>

<html lang="es">

	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="author" content="José Verdú Díaz">
	    <title>GitHub API webapp</title>

	    <!-- Bootstrap core CSS -->
		<link href="../styles/bootstrap.min.css" rel="stylesheet" type="text/css">

	    <!-- Custom styles for this template -->
		<link href="../styles/base.css" rel="stylesheet">
		<script src="../js/jquery-3.4.1.min.js"></script>
		<script src="../js/search.js"></script>
		<script src="../js/bootstrap.min.js"></script>

		<script id="PlantillaPanelInfoOculta" type="text/plantilla-personalizada">
			<div class="card">
				<div class="card-header" id="Cabecera">
					<button id="BotonColapsar" class="btn btn-block" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse"></button>
				</div>
				<div id="collapse" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
					<div id="Contenido" class="card-body">

						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">Repositorio</th>
									<th scope="col">Descripción</th>
						 			<th scope="col">"Watchers"</th>
								</tr>
							</thead>
							<tbody id="TablaRepos">
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</script>

		<script id="PlantillaFilaRepoOculta" type="text/plantilla-personalizada">
			<tr>
				<th scope="row" class="Repo"></th>
				<td class="Desc"></td>
				<td class="Follow"></td>
			</tr>
		</script>

	</head>

    <body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="#">Buscador de repositorios</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">

				<div class="navbar-nav mr-auto"></div>

				<form name="buscar-usuario-form" class="form-inline my-2 my-lg-0">
					<input id="input-usuario" class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Buscar">
					<button id="buscar-usuario" class="btn btn-secondary my-2 my-sm-0">Buscar</button>
				</form>
			</div>
		</nav>

		<main role="main" class="container">
			<div class="starter-template">
				<h1 align="center">GitHub API webapp</h1>
				<p class="lead">Introduzca en el buscador un nombre de usuario. Los usuarios que contengan el nombre introducido aparecerán a continuación. Seleccione un usuario para ver una tabla de repositorios con información básica. Téngase en cuenta que si se realiza una búsqueda demasiado genérica y/o el usuario encontrado tiene una gran cantidad de repositorios se puede superar la tasa límite de consulta de la API.</p>

				<div id="accordion">
				</div>

			</div>
		</main>
	</body>

</html>